.keylocaker-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px 40px 0px 40px;

    .top-bar {

        display: flex;
        flex-direction: row;
        justify-content: right;
        width: 100%;
        height: 45px;

        .icon {
            width: 26px;
            height: 38px;
            margin-left: 45px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .details-area {

        width: 100%;
        flex-grow: 1;

        .cash-spent, .entries {

            .header {

                display: flex;
                flex-direction: row;
                width: 375px;
                justify-content: space-between;
                margin-bottom: 38px;

                label {

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 20px;
                    color: #2E2E2E;
                }

                div {
                    width: 21px;
                    height: 21px;
                    background: #F9A369;
                }


                

            }

            .titles {

                display: flex;
                flex-direction: row;
                width: 1050px;
                height: 41px;
                background-color: #F4F4FB;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 20px;
    
                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 175px;
                    height: 100%;
                    padding-left: 20px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.01em;
                    color: rgba(57, 58, 61, 0.7);
                }

            }

        }

        .invites-area {

            .invites {

                display: flex;
                flex-direction: row;
                width: 100%;
    
                .list-area {
    
                    width: 50%;
    
                    .header {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 20px;
                        color: #2E2E2E;
                    }
        
                    .sub-header {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                        color: #0B1023;
                        margin-top: 77px;
                        margin-left: 33px;
                    }
        
                    .list {
        
                        overflow-y: auto;
        
                        .item {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            height: 38px;
                            margin-bottom: 25px;
                            max-width: 425px;
                            margin-left: 33px;
                            margin-top: 26px;
            
                            .details-area {
            
                                flex-grow: 1;
            
                                .username {
            
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #F9A369;
            
            
                                }
                
                                .email {
            
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 15px;
                                    color: #393A3D;
            
                                }
            
                            }
            
            
                            .status {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 50px;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
        
                    }
    
                }
    
                .ref-area {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
    
                    .header {
    
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                        color: #0B1023;
                        margin-bottom: 48px;
                        margin-top: -15px;
    
                    }
    
                    .send-invites {
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 459px;
                        height: 302px;
                        background: #FFEBEB;
    
                        .title {
    
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 22px;
                            letter-spacing: 0.01em;
                            color: #F9A369;
                            margin-bottom: 38px;
    
                        }
    
                        .info {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 22px;
                            text-align: center;
                            letter-spacing: 0.01em;
                            color: #2E2E2E;
                            margin-bottom: 32px;
                        }
    
                        .act-area {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 39px;
                            margin-bottom: 22px;
    
                            input {
    
                                width: 294px;
                                height: 39px;
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 22px;
                                text-align: center;
                                letter-spacing: 0.01em;
                                color: #5B5B5B;
                            }
    
                            img {
                                width: 99px;
                                height: 39px;
                            }
                        }
    
                        .line {
                            width: 393px;
                            height: 1px;
                            background-color: rgba(44, 44, 44, 0.2);
                            margin-bottom: 22px;
                        }
    
                        .share {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                        }
    
                    }
    
                }
    
    
            }

        }


        .contracts {

            .header{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #2E2E2E;
                margin-bottom: 79px;
            }

            .contract-details {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 1115px;
                height: 100%;

                .summery {
                    display: flex;
                    flex-direction: row;
                    width: 97%;
                    height: 123px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding-top: 17px;
                    margin-bottom: 40px;

                    .fixed-box {
                        width: 278px;
                        text-align: center;
                        padding-top: 5px;
                    }

                    .dynamic-box {
                        flex-grow: 1;
                        text-align: center;
                        padding-top: 5px;
                    }

                    .header-text {
                        font-family: 'Be Vietnam Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #79778A;
                        margin-bottom: 19px;
                    }

                    .details {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 20px;
                        color: #2E2E2E;
                    }
                }

                .tabs-area {
                    flex-grow: 1;
                    max-height: 55%;

                    .ui-tabview-panel {
                        padding: unset;
                    }
                }
            }

        }

        .bidPlaced {
            .header {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                color: #000000;
                margin-bottom: 72px;
            }
        }

        .duplex-charts-container {

            .header {
    
                display: flex;
                flex-direction: row;
                width: 965px;
                justify-content: space-between;
                margin-bottom: 38px;

                label {

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 20px;
                    color: #2E2E2E;
                }

                .box-1 {
                    width: 21px;
                    height: 21px;
                    background: #F9A369;
                }

                .box-2 {
                    width: 21px;
                    height: 21px;
                    background: #95CED1;
                }


                

            }
            
            .duplex-charts {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 100%;
    
    

    
                .titles {
    
                    display: flex;
                    flex-direction: row;
                    width: 800px;
                    height: 41px;
                    background-color: #F4F4FB;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 20px;
        
                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 133px;
                        height: 100%;
                        padding-left: 20px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                        color: rgba(57, 58, 61, 0.7);
                    }
    
                }
    
                .chart1, .chart2 {
                    width: 50%;
                    height: 100%;
                }
    
            }

        }



    }

    .cards-area{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 235px;
        max-width: 1050px;
        padding: 3px;
        justify-content: space-between;

        .a-card {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 174px;
            height: 188px;
            background: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 10px 0px 10px 0px;
            cursor: pointer;

            .icon {
                width: 64px;
                height: 64px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                width: 100%;
                font-family: 'Be Vietnam Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #79778A;
                text-align: center;
            }

            .info {

                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                font-family: 'Be Vietnam Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 20px;
                color: #95CED1;

                img {

                    width: 13px;
                    height: 13px;
                    margin-left: 3px;
                }
            }

        }

        .selected-item {
            background-image: url('^assets/key-locker/selected-background.png');

            .title{
                color: #0093B2 !important;
            }

            .info {
                color: #0093B2 !important;
                font-weight: 600;
            }
            
        }
    }

}