<div class="keylocaker-container">

    <div class="details-area">

        <div class="entries" *ngIf="currentView == 'Entries'" style="height: 100%;">

            <div class="top-bar">

                <div class="icon" (click)="changeInternalViews('entriesChart')">
                    <img *ngIf="!showEntriesChart" src="./assets/key-locker/top-bar/icon-1.png">
                    <img *ngIf="showEntriesChart" src="./assets/key-locker/top-bar/icon-1-blue.png">
                </div>
        
                <div class="icon" (click)="changeInternalViews('duplexCharts')">
                    <img *ngIf="!showDuplexCharts" src="./assets/key-locker/top-bar/icon-2.png">
                    <img *ngIf="showDuplexCharts" src="./assets/key-locker/top-bar/icon-2-blue.png">
                </div>
        
                <div class="icon" (click)="changeInternalViews('entriesGrid')">
                    <img *ngIf="!showEntriesGrid" src="./assets/key-locker/top-bar/icon-3.png">
                    <img *ngIf="showEntriesGrid" src="./assets/key-locker/top-bar/icon-3-blue.png">
                </div>
        
            </div>

            <p-tabView *ngIf="showEntriesGrid">

                <p-tabPanel header="Your Active Bidding Rooms">
                   
                    <div class="common-ag-grid-styles" style="width: 100%; height: 100%;">
                    
                        <ag-grid-angular #agGrid 
                            style="width: 100%; height: 100%; font-size: 12px;" 
                            class="ag-theme-alpine"
                            [rowData]="activeRowData"
                            [columnDefs]="activeColumnDefs"
                        >
                        </ag-grid-angular>
    
                    </div>
    
    
                </p-tabPanel>
    
                <p-tabPanel header="Closed Stats">
                    
                    <div class="common-ag-grid-styles" style="width: 100%; height: 100%;">
                    
                        <ag-grid-angular #agGrid 
                            style="width: 100%; height: 100%; font-size: 12px;" 
                            class="ag-theme-alpine"
                            [rowData]="closeRowData"
                            [columnDefs]="closeColumnDefs"
                        >
                        </ag-grid-angular>
    
                    </div>
    
                </p-tabPanel>
    
            </p-tabView>

            <div *ngIf="showEntriesChart" style="height: 100%;">

                <div class="header">
                    <label>
                        Single - Auction House - 01
                    </label>
                    <div>
    
                    </div>
                </div>
    
                <div class="titles">
    
                    <div class="item">
                        S01
                    </div>
    
                    <div class="item">
                        Username
                    </div>
    
                    <div class="item">
                        Bid $
                    </div>
    
                    <div class="item">
                        Bid #
                    </div>
    
                    <div class="item">
                        Date
                    </div>
    
                    <div class="item">
                        Time
                    </div>
    
                </div>
    
                <p-chart type="line" [data]="chartData.biddingRooms" [width]="chartWidth" [responsive]="false" [height]="chartHeight" [options]="chartOptions.biddingRooms"></p-chart>
    
            </div>

            <div class="duplex-charts-container" *ngIf="showDuplexCharts" style="height: 100%;">

                <div class="header">

                    <label>
                        Single - Auction House - 01
                    </label>

                    <div class="box-1"></div>

                    <div class="box-2"></div>

                </div>
    
                <div class="duplex-charts">

                    <div class="chart1">

                        <div class="titles">
    
                            <div class="item">
                                S01
                            </div>
            
                            <div class="item">
                                Username
                            </div>
            
                            <div class="item">
                                Bid $
                            </div>
            
                            <div class="item">
                                Bid #
                            </div>
            
                            <div class="item">
                                Date
                            </div>
            
                            <div class="item">
                                Time
                            </div>
            
                        </div>
            
                        <p-chart type="line" [data]="chartData.duplexChart1" [width]="800" [responsive]="false" [height]="chartHeight" [options]="chartOptions.duplexChart1"></p-chart>

                    </div>
 

                    <div class="chart2">

                        <div class="titles">
    
                            <div class="item">
                                01
                            </div>
            
                            <div class="item">
                                Username
                            </div>
            
                            <div class="item">
                                Bid $
                            </div>
            
                            <div class="item">
                                Bid #
                            </div>
            
                            <div class="item">
                                Date
                            </div>
            
                            <div class="item">
                                Time
                            </div>
            
                        </div>
            
                        <p-chart type="line" [data]="chartData.duplexChart2" [width]="800" [responsive]="false" [height]="chartHeight" [options]="chartOptions.duplexChart2"></p-chart>
                        
                    </div>

                </div>

    
            </div>

        </div>

        <div class="cash-spent" *ngIf="currentView == 'Cash Spent'" style="height: 100%;">

            <div class="header">
                <label>
                    Single - Auction House - 01
                </label>
                <div>

                </div>
            </div>

            <div class="titles">

                <div class="item">
                    S01
                </div>

                <div class="item">
                    Username
                </div>

                <div class="item">
                    Bid $
                </div>

                <div class="item">
                    Bid #
                </div>

                <div class="item">
                    Date
                </div>

                <div class="item">
                    Time
                </div>

            </div>

            <p-chart type="line" [data]="chartData.cashSpent" [width]="chartWidth" [responsive]="false" [height]="chartHeight" [options]="chartOptions.cashSpent"></p-chart>

        </div>

        <div class="invites" *ngIf="currentView == 'Successful Invites'" style="height: 100%;">
            
            <div class="list-area">

                <div class="header">
                    Successful Invites
                </div>
    
                <div class="sub-header">
                    Sent Invites
                </div>
    
                <div class="list">
    
                    <div class="item" *ngFor="let anInvite of invites">
    
                        <div class="details-area">
        
                            <div class="username">
                                {{ anInvite.name }}
                            </div>
        
                            <div class="email">
                                {{ anInvite.email }}
                            </div>
        
                        </div>
        
                        <div class="status" [style.color]="anInvite.status == 'Pending' ? '#D9534F' : '#5CB85C'">
                            {{ anInvite.status }}
                        </div>
                    </div>
    
                </div>


            </div>

            <div class="ref-area">

                <div class="header">
                    Referrals
                </div>

                <div class="send-invites">

                    <div class="title">
                        Refer a friend Give $10, Get $10 
                    </div>

                    <div class="info">
                        Spread the Summersalt love! You’ll get $10 for each friend who orders.
                        Only new customers are valid for the referral.
                    </div>

                    <div class="act-area">
                        <input id="input" type="text" size="30" pInputText placeholder="Your Friends’ emails (separated by commas)"> 
                        <img src="./assets/key-locker/btn-send.png">
                    </div>

                    <div class="line"></div>

                    <div class="share">
                        <img src="./assets/key-locker/social-media-icons.png">
                    </div>

                </div>

            </div>


        </div>

        <div class="bidPlaced" *ngIf="currentView == 'Bid Placed'" style="height: 100%;">

            <div class="header">
                Bids Placed
            </div>

            <p-chart type="doughnut" [data]="chartData.bids" [options]="chartOptions.bids" [width]="chartWidth" [height]="chartHeight" [responsive]="false"></p-chart>

        </div>

        <div class="contracts" *ngIf="currentView == 'Contracts Won'" style="height: 100%;">

            <div class="header">
                Contracts Won
            </div>

            <p-chart type="bar" [data]="chartData.contractsWon" [width]="chartWidth" [responsive]="false" [height]="chartHeight" [options]="chartOptions.contractsWon"></p-chart>
        </div>


    </div>

    <div class="cards-area">


        <div class="a-card" *ngFor="let aCard of cards" (click)="viewChange(aCard)" [ngClass]="aCard.background ? 'selected-item' : '' ">

            <div class="icon">
                <img [src]="aCard.icon">
            </div>

            <div class="title">
                {{ aCard.title }}
            </div>

            <div class="info">

                {{ aCard.info }}

                <img *ngIf="aCard.infoIcon" [src]="aCard.infoIcon">

            </div>

        </div>


    </div>

</div>


