<div class="container">

    <div class="fixed-area">

        <div class="logo">
            <img src="./assets/LOGO@3xDecision 2 1.png">
        </div>
    
        <div class="main-btns select">
            <img src="./assets/btn-icons/icons8_enter 1.png">
            <label>Enter</label>
        </div>
    
        <div class="main-btns">
            <img src="./assets/btn-icons/user.png">
            <label>Dashboard</label>
        </div>
    
        <div class="main-btns">
            <img src="./assets/btn-icons/icons8_key 1.png">
            <label>Key Locker</label>
        </div>
    
        <div class="main-btns">
            <img src="./assets/btn-icons/settings.png">
            <label>Settings</label>
        </div>
    
        <div class="card-1">
    
            <div class="icon-area">
                <img src="./assets/icons8_circled_user_female_skin_type_7 1.png">
                <div>24 Hours Services</div>
            </div>
    
            <div class="btn">
                <img src="./assets/small-icon.png">
    
                <div>
                    <label>Serving All</label>
                    <label>50 United States</label>
                </div>
    
            </div>
    
            <div class="dots-area">
                <div class="dot-1"></div>
                <div class="dot-2"></div>
                <div class="dot-3"></div>
            </div>
    
        </div>
    
        <div class="card-2">
    
            <div class="icon-area">
                <img src="./assets/home-icon2.png">
            </div>
    
            <div class="title">
                <label>DreamStakes</label>
                <label>Auction</label>
            </div>
    
            <div class="ratings">
                <img src="./assets/star.png">
                <label>4.9 (5.8k review)</label>
            </div>
    
        </div>

    </div>


    <div class="grow-area">

        <div class="main-btns logout-btn">
            <img src="./assets/btn-icons/logout.png">
            <label>Logout</label>
        </div>
        
    </div>


</div>
