<div class="container">

    <p-dialog [(visible)]="display" position="top" [draggable]="false" (onHide)="close()" [transitionOptions]="'200ms'">

        <p-header>
            {{popupData.header}}
        </p-header>

        <div class="content-header">
            {{popupData.contentHeader}}
        </div>

        <div [innerHTML]="popupData.content"></div>

        <p-footer>

            <div>

                <img [style.visibility]="popupData.bckButton ? 'visible' : 'hidden'" src="./assets/popup-btns/back-arrow.png" (click)="sendCommandToParent('back')">
                <img [style.visibility]="popupData.nxtButton ? 'visible' : 'hidden'" src="./assets/popup-btns/next-arrao.png" (click)="sendCommandToParent('next')">

            </div>

        </p-footer>

    </p-dialog>

</div>