<div class="container" >

    <div class="cards-area">

        <div class="a-card" *ngFor="let aCard of cards">

            <div class="icon">
                <img [src]="aCard.icon">
            </div>

            <div class="title">
                {{ aCard.title }}
            </div>

            <div class="info">

                {{ aCard.info }}

                <img *ngIf="aCard.infoIcon" [src]="aCard.infoIcon">

            </div>

        </div>

    </div>

    <div class="rooms-area">

        <div class="room-count">

            <div class="drpdwn-area">
                <p-dropdown [options]="houses" [(ngModel)]="selectedHouse" (onChange)="setRoom()"></p-dropdown>
            </div>

            <div class="count-area">
                Room {{selectedHouse.id}} Of {{houses.length}}
            </div>
           
        </div>

        <div *ngIf="currentRoom.type == 1">
            <ng-container *ngTemplateOutlet="room; context: {'currentRoom': currentRoom}"></ng-container>
        </div>

        <div *ngIf="currentRoom.type == 0">
            <ng-container *ngTemplateOutlet="conclude; context: {'currentRoom': currentRoom}"></ng-container>
        </div>
        

    </div>

    <app-popup [display]="placeBid" (notifyParent)="recieveFromPopupDialog($event)" [popupData]="currentPopupPage"></app-popup>

</div>

<ng-template #room let-currentRoom="currentRoom">

    <div class="bidding-area">

        <div class="left">

            <img [src]="currentRoom.houseImage">

        </div>

        <div class="right">

            <div class="title">
                {{currentRoom.title}}
            </div>

            <div class="info">

                <div class="start">

                    <label class="info-title">Starting Bid</label>
                    <label class="desc">${{currentRoom.info.startBid}}</label>

                </div>

                <div class="high">

                    <label class="info-title">Highest Bid</label>
                    <label class="desc">${{currentRoom.info.heighestBid}}</label>

                </div>

                <div class="total">

                    <label class="info-title">Total Bids</label>
                    <label class="desc">{{currentRoom.info.totalBids}}</label>

                </div>

            </div>

            <div class="buttons-area">

                <div class= "silde-btn"  id="silde-btn" #drop>

                  <div
                    #dragbtn
                    id="dragbtn"
                    class="dragbtn"
                    cdkDragBoundary=".silde-btn"
                    cdkDragLockAxis="x"
                    cdkDrag 
                    (cdkDragEnded)="dragEnd()">
                    
                    <div class="img-background">
                      <img src="./assets/dasboard/icons/slider-arrow-btn.png"/>
                    </div>

                  </div>

                  <div class="text">
                    
                    <div *ngIf="!isOk">
                      <!-- <div>Release</div> -->
                      <div>Silde to fast bid</div>
                    </div>
                    
                    <div *ngIf="isOk">Confirmed!</div>

                  </div>
                    
                </div>

                <div class="custom-bid-btn" (click)="showPlaceBid()">
                    Custom Bid
                </div>

            </div>

        </div>

    </div>

    <div class="bidding-info">

        <div class="info-title">

            {{currentRoom.biddingInfo.title}}

            <img src="./assets/dasboard/info.png">

        </div>

        <div class="desc">

            {{currentRoom.biddingInfo.desc}}

            <ol type="a">
                <li *ngFor="let item of currentRoom.biddingInfo.list">{{item}}</li>
            </ol>

        </div>

    </div>

</ng-template>

<ng-template #conclude let-currentRoom="currentRoom">
    
    <div class="main">

        <div class="time-area">
          
            <div class="time-area-title">Will conclude in</div>

            <div class="timer" >

              <div class="time-wrapper" id="hours">

                <div  class="clock">

                  <span *ngIf="timerHours < 10"> 0 </span> {{timerHours}} </div>

                <div class="title" style="padding-left: 48px;">HOURS</div>

              </div>


              <div class="time-wrapper" id="minutes">

                <div  class="clock">

                  <span *ngIf="timerMin < 10" > 0  </span> {{timerMin}}</div>

                <div class="title" style="padding-left: 38px;">MINUTES</div>

              </div>


              <div class="time-wrapper" id="seconds">

                <div  class="clock">

                  <span *ngIf="timerSec < 10"> 0 </span> {{timerSec}}</div>
                 
                <div class="title" style="padding-left: 33px;">SECONDS</div>

              </div>

            </div>

            <div class="progress-bar">
                <p-progressBar [style]="{'border-radius': '8px'}" 
                [value]="75" [showValue]='false' ></p-progressBar>
            </div>

        </div>

        <div class="info-area">

            <div class="image-area"></div>

            <div class="details-area">

            <div class="detais-title">Attention On Auction House</div>

            <div class="details">

                <div>
                <div class="details-sub-title">Starting Bid</div>
                <div class="details-sub-details">$50.00</div>
                </div>
                
                <div>
                <div class="details-sub-title">Highest Bid</div>
                <div class="details-sub-details">$3259.00</div>
                </div>
                    
                <div>
                <div class="details-sub-title">Total Bids</div>
                <div class="details-sub-details">17</div>
                </div>

            </div>

            <div class="buttons-area">

                <div class= "silde-btn"  id="silde-btn" #drop>

                <div
                    #dragbtn
                    id="dragbtn"
                    class="dragbtn"
                    cdkDragBoundary=".silde-btn"
                    cdkDragLockAxis="x"
                    cdkDrag 
                    (cdkDragEnded)="dragEnd()">
                    
                    <div class="img-background">
                    <img src="./assets/dasboard/icons/slider-arrow-btn.png"/>
                    </div>

                </div>

                <div class="text">
                    
                    <div *ngIf="!isOk">
                    <!-- <div>Release</div> -->
                    <div>Silde to fast bid</div>
                    </div>
                    
                    <div *ngIf="isOk">Confirmed!</div>

                </div>
                    
                </div>

                <div class="custom-bid-btn" (click)="showPlaceBid()">
                    Custom Bid
                </div>

            </div>
            
            </div>

        </div>

        <div class="grow-area">

          <div class="grow-area-title">

            <div class="grow-area-title-text"> {{currentRoom.biddingInfo.title}}

              <img src="./assets/dasboard/info.png">

            </div>

            <div class="grow-area-button">

              <button type="button" (click)="dropdownText()" style="border: none;  background-color: transparent;" *ngIf="!arrowUp">
                <img src="./assets/dasboard/icons/dropdown.png" >
              </button>

              <button type="button" (click)="dropdownText()" style="border: none; background-color: transparent;" *ngIf="arrowUp">
                <img src="./assets/dasboard/icons/dropdown2.png" >
              </button>
              
            </div>

          </div>
          
          <div class="grow-area-text" #droptxt>

            {{currentRoom.biddingInfo.desc}}

            <ol type="a">
                <li *ngFor="let item of currentRoom.biddingInfo.list">{{item}}</li>
            </ol>

           
          </div>

        </div>

    </div>
    
    
</ng-template>
