<div class="container">

    <div class="cards-area">

        <div class="a-card" *ngFor="let aCard of cards">

            <div class="icon">
                <img [src]="aCard.icon">
            </div>

            <div class="title">
                {{ aCard.title }}
            </div>

            <div class="info">

                {{ aCard.info }}

                <img *ngIf="aCard.infoIcon" [src]="aCard.infoIcon">

            </div>

        </div>

    </div>

    <div class="rooms-area">

        <div class="room-count">

            <div class="drpdwn-area">
                <p-dropdown [options]="houses" [(ngModel)]="selectedHouse"></p-dropdown>
            </div>

            <div class="count-area">
                Room 1 Of 1
            </div>

           
        </div>

        <div class="bidding-area">

            <div class="left">

                <img src="../../assets/dasboard/house.png">

            </div>

            <div class="right">

                <div class="title">
                    Heffel Fine Art Auction House
                </div>

                <div class="info">

                    <div class="start">

                        <label class="info-title">Starting Bid</label>
                        <label class="desc">$50.00</label>

                    </div>

                    <div class="high">

                        <label class="info-title">Highest Bid</label>
                        <label class="desc">$4575.00</label>

                    </div>

                    <div class="total">

                        <label class="info-title">Total Bids</label>
                        <label class="desc">89</label>

                    </div>

                </div>

                <div class="buttons-area">

                </div>

            </div>

        </div>

        <div class="bidding-info">

        </div>

    </div>

</div>
