.container {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 45px;
    padding-top: 20px;

    .slider {
        width: 100%;
        height: 363px;
        background: #FCFCFC;
        border-radius: 16px;
    }

    .info-area {

        display: flex;
        flex-direction: row;
        width: 100%;
        flex-grow: 1;
        margin-top: 20px;

        .slider {
            flex-grow: 1;
            height: 380px;
        }

        .img-area {

            width: 367px;
            height: 380px

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

}