.container {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 45px;
    padding-top: 20px;

    .slider {
        width: 100%;
        height: 363px;
        // background: #FCFCFC;
        background-color: bisque;
        border-radius: 16px;
    }

    .info-area {

        display: flex;
        flex-direction: row;
        width: 100%;
        flex-grow: 1;
        margin-top: 20px;

        .slider {
            flex-grow: 1;
            height: 380px;
        }

        .img-area {

            width: 365px;
            height: 380px;
            flex-shrink: 0;

            .txt {

                position: absolute;
                top: 697px;
                margin-left: 13px;

                .big-txt {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                }

                .small-txt {
                    display: flex;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    margin-top: 5px;

                    img {
                        width: 18px;
                        height: 17px;
                    }
                }

            }

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

}