<div class="container">

    <div class="slider">

    </div>

    <div class="info-area">

        <div class="slider">
            <app-common-slider [sliderData]="sliderData"></app-common-slider>
        </div>

        <div class="img-area">

            <div class="txt">
                <div class="big-txt">
                    500+ Contractors
                </div>
                <div class="small-txt">
                    <img src="./assets/white-star.png"> 4.9 (5.8k review)
                </div>
            </div>

            <img src="./assets/house-info.png">

        </div>

    </div>

</div>
