.tab-panel{
  height: 100%;
  width: 100%;
  padding: 40px;
        
  .security-container{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 60%;
    min-width: 60%;

    .title {

      width: 100%;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #393A3D;

    }

    .new-password{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 55px;
      
      .new-password-title{

        flex-grow: 1;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #393A3D;

      }

        
    }

    .confirm-password{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 31px;

      .confirm-password-title{

        flex-grow: 1;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #393A3D;
        margin-top: -55px;
          
      }

      .confirm-password-text{

        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        width: 693px;

        .hint {

          width: 100%;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #444B5C;
          margin-top: 31px;

        }

      }
        
    }

    .save-changes{

      display: flex;
      justify-content: flex-end;
      margin-top: 31px;

      button{
        width: 126px;
      } 

    }

    .phone-verification{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 31px;
      font-family: 'Open Sans';
      font-style: normal;
        
      .phone-verification-title{

        flex-grow: 1;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #393A3D;
        margin-top: 54px;
            
      }

      .phone-verification-text{

        display: flex;
        flex-direction: column;

        .phone-verification-hint{

          flex-grow: 1;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #444B5C;
          margin-top: 57px;
          width: 467px;
          margin-right: 225px;

        }

        .button{

          display: flex;
          justify-content: flex-end;
          
          button{

            width: 65px;
            
          }

        }
      }
    
    }

    .security-question{

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 31px;
      font-family: 'Open Sans';
      font-style: normal;
        
      
      .security-question-title{

        flex-grow: 1;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #393A3D;
        margin-top: 54px;
          
      }

      .security-question-text{

        display: flex;
        flex-direction: column;

        .security-question-hint{
            
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #444B5C;
          margin-top: 57px;
          width: 467px;
          margin-right: 225px;

        }

        .button{
          display: flex;
          justify-content: flex-end;
          

          button{
            width: 65px;
            
        }

        }
      }
      
    }
    
    input{

        width: 693px;
        height: 44px;
        border: 1px solid #B9B9B9;
        border-radius: 4px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;

    }

    button{

        font-family: 'Be Vietnam Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        height: 32px;
        background: #F9A369;
        border:1px solid #F9A369;

    }


    
  }

  .notification-container{

    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 60%;
    min-width: 60%;

    .notification-title{

      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #393A3D;

    }

    .notification-text{

      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #444B5C;
      margin-top: 22px;

    }

    .notification-grid{
      display: flex;
      flex-direction: column;
      

      .grid-titles{

        display: flex;
        flex-direction: row;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #393A3D;
        margin-top: 56px;
        margin-bottom: 20px;

        .type{

          width: 277px;
          margin-right: 195px;
          
        }

        .email{

          margin-right: 113px;

        }

      }

      .data-row{

        display: flex;
        flex-direction: row;  
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #393A3D;
        margin-bottom: 23px;

        .type-data{
          
          width: 277px;
          margin-right: 195px;
          
        }

        .email-data{

          margin-right: 133px;
        }
      }

    }
  }

  .payment-methods-container{

    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 60%;
    min-width: 60%;

    .payment-methods-title{

      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #393A3D;
      margin-bottom: 55px;

    }

    .payment-methods-body{

      width: 500px;

      .paypal, .visa-card{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        .text1, .text2 {

          font-family: 'Open Sans';
          font-style: normal;
          font-size: 15px;
          line-height: 20px;
          color: #393A3D;
          width: 160px;

        }

        .text1 {
          font-weight: 600;
        }

        .text2{
          font-weight: 400;
        }

        .text3 {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          color: #F9A369;
          cursor: pointer;
        }

      }

      .add-new{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px; 
        color: #F9A369;
        margin-top: 60px;
        cursor: pointer;
      }
      
    }

  }
 
}